<IfModule mod_rewrite.c>
  RewriteEngine On

  # No modificar archivos o carpetas que realmente existen
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Todo lo demás lo maneja Vue Router
  RewriteRule ^ index.html [L]
</IfModule>